<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item (click)="showSend()">
            <ion-avatar slot="start">
                <img src="/assets/img/face1.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Vitalik Buterin</h2>
                <p>17a2K8t6nkXzb2ENAkcLfcChLbiDEFVxJh</p>
            </ion-label>
        </ion-item>
        <ion-item (click)="showSend()">
            <ion-avatar slot="start">
                <img src="/assets/img/face2.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Charlie Lee</h2>
                <p>1KFHE7w8BhaENAswwryaoccDb6qcT6DbYY </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="showSend()">
            <ion-avatar slot="start">
                <img src="/assets/img/face6.png">
            </ion-avatar>
            <ion-label>
                <h2>Joseph Lubin</h2>
                <p>31w3iWUN5EMJMW2YRCc5m4RFqm3zN61xK2 </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="showSend()">
            <ion-avatar slot="start">
                <img src="/assets/img/face4.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Roger Ver</h2>
                <p>3Dc8EFqiWzY2BC1i8jEA8eiEyCoUcSSzG6 </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="showSend()">
            <ion-avatar slot="start">
                <img src="/assets/img/face5.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Austin Griffith</h2>
                <p>326pRCqki8cm9yoGGVWtKC7tjajVaFWk7d </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
