<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-icon slot="start" name="alert"></ion-icon>
            <ion-label>
                <h2>50% off on 'UNIX Programming' book</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="alert"></ion-icon>
            <ion-label>
                <h2>New Job Opportunity for you</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="alert"></ion-icon>
            <ion-label>
                <h2>20% off on Living Sciences workshop</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
